<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    {% if myName == "Johny"%}
        <h1>Hello Admin = {{myName}}</h1>
        <h2>You are {{myAge}} years old</h2>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
    {% else %}
        <h1>You are not Admin</h1>
        <h1>Please Sign in again</h1>
        <a href="/">Home</a>
    {% endif %}
</body>
</html> -->

{% extends "layout.html" %}

{% block content %}

{% if myName == "Johny"%}
<h1>Hello Admin = {{myName}}</h1>
<h2>You are {{myAge}} years old</h2>
<a href="/">Home</a>
<a href="/about">About Us</a>
{% else %}
<h1>You are not Admin</h1>
<h1>Please Sign in again</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{url_for('static', filename = 'picture2.jpg')}}">More picture</a></li>
</ul>
{% endif %}

{% endblock %}
